// Color Variables

$white: #ffffff;

$black: #000000;
$black-hover: lighten($black, 20%);

$red: #ef4444;
$red-hover: darken($red, 20%);

$grey: #b1b1b1;

$text-primary: #111827;
$text-secondary: #6b7280;
